.loginbox{
    width: 460px;
    height: 300px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    
}
.loginpagebox{
    padding-top: 100px;
    height: 100vh;
    background-image: url('./Images/Loginpbackground.jpg');
    background-size:cover ;
}
.inputrowlog > input[type=email],input[type=password]{
    border: 2px black solid;
}
.butinlog{
    display: block;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}