.registerbox{
    width: 460px;
    height: 400px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    
}
.registerpagebox{
    padding-top: 100px;
    height: 100vh;
    background-image: url('./Images/Registerpbackground.jpg');
    background-size:cover ;
}
.inputrowreg > input[type=email],input[type=password],input[type=text],input[type=tel]{
    border: 2px black solid;
}
.butinreg{
    display: block;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}